server:
  port: 8081

spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  application:
    name: "fornecedores"
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect